    * {
        font-family: "Azeret Mono", monospace;
    }
    /* heder section */
    
    header {
        background-image: url(/assets/Hero-bg.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    
    .img1 {
        display: block;
        margin: auto;
        padding: 24px;
    }
    
    .text1 {
        text-align: center;
        font-size: 48px;
        font-weight: bolder;
    }
    
    .text2 {
        text-align: center;
    }
    
    .btn {
        display: block;
        margin: auto;
        background-color: #0D1321;
        color: white;
        font-weight: 400px;
        font-size: 20px;
        padding: 18px;
        border-radius: 8px;
        margin-top: 45px;
    }
    /* Main Section */
    
    .banner1 {
        display: flex;
        justify-content: space-between;
        margin: 96px 180px 0 180px;
    }
    
    .youtube-link {
        align-items: center;
        margin: 80px 175px;
        display: flex;
        justify-content: center;
    }
    
    .text3 {
        text-align: center;
        color: #0D1321;
        font-weight: bolder;
        font-size: 32px;
        padding: 20px;
    }
    
    .text4 {
        text-align: center;
    }
    
    .text5 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .text7 {
        font-size: 32px;
        font-weight: bolder;
        text-align: center;
        margin-top: 232px;
    }
    
    .text8 {
        text-align: center;
    }
    
    .container {
        padding: 0 150px 0 150px;
    }
    
    .targets {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 30px;
    }
    
    .text9 {
        text-align: center;
        margin-top: 300px;
        font-size: 32px;
        font-weight: bolder;
    }
    
    .text10 {
        text-align: center;
        margin-bottom: 48px;
    }
    
    .skills1 {
        background-color: rgba(255, 76, 30, 0.05);
        padding: 30px;
        border-radius: 8px;
    }
    
    .skills2 {
        background-color: rgba(0, 76, 232, 0.05);
        padding: 30px;
        border-radius: 8px;
    }
    
    .skills3 {
        background-color: rgba(255, 223, 0, 0.05);
        padding: 30px;
        border-radius: 8px;
    }
    
    .anchor1 {
        color: #0D1321;
        font-size: 16px;
        font-weight: bold;
    }
    
    .support-ses {
        text-align: center;
        background-image: url(/assets/handshake.jpg);
        background-blend-mode: darken;
        height: 313px;
        background-size: cover;
        background-position: center;
        margin: 150px;
        border-radius: 16px;
        padding: 64px;
    }
    
    .text-cls {
        width: 548px;
        height: 57px;
        margin-right: 10px;
        background-color: white;
        border-radius: 8px;
    }
    
    .btn-cls {
        width: 157px;
        height: 57px;
        border-radius: 8px;
    }
    
    .text-sup {
        color: white;
        font-size: 32px;
        font-weight: bold;
        padding: 10px;
    }
    
    .paragraph-sup {
        color: white;
        padding: 20px;
    }
    
    .btn-cls {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    /* footer style */
    
    .footer-add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 150px;
    }
    
    .online-platfm {
        margin-right: 24px;
    }
    
    footer {
        background-color: rgba(13, 19, 33, 0.03);
    }